
   INFO  Running migrations.  

  0001_01_01_000000_create_users_table .............................................................................................................  
  Ôçé create table `users` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `email` varchar(100) not null, `email_verified_at` timestamp null, `password` varchar(255) not null, `remember_token` varchar(100) null, `current_team_id` bigint unsigned null, `profile_photo_path` varchar(2048) null, `2easy_id` varchar(255) null, `is_admin` tinyint(1) null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé create table `password_reset_tokens` (`email` varchar(100) not null, `token` varchar(255) not null, `created_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `password_reset_tokens` add primary key (`email`)  
  Ôçé create table `sessions` (`id` varchar(255) not null, `user_id` bigint unsigned null, `ip_address` varchar(45) null, `user_agent` text null, `payload` longtext not null, `last_activity` int not null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `sessions` add primary key (`id`)  
  Ôçé alter table `sessions` add index `sessions_user_id_index`(`user_id`)  
  Ôçé alter table `sessions` add index `sessions_last_activity_index`(`last_activity`)  
  2014_10_12_100000_create_password_resets_table ...................................................................................................  
  Ôçé create table `password_resets` (`email` varchar(255) not null, `token` varchar(255) not null, `created_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `password_resets` add index `password_resets_email_index`(`email`)  
  2014_10_12_200000_add_two_factor_columns_to_users_table ..........................................................................................  
  Ôçé alter table `users` add `two_factor_secret` text null after `password`, add `two_factor_recovery_codes` text null after `two_factor_secret`  
  2019_08_19_000000_create_failed_jobs_table .......................................................................................................  
  Ôçé create table `failed_jobs` (`id` bigint unsigned not null auto_increment primary key, `uuid` varchar(255) not null, `connection` text not null, `queue` text not null, `payload` longtext not null, `exception` longtext not null, `failed_at` timestamp default CURRENT_TIMESTAMP not null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `failed_jobs` add unique `failed_jobs_uuid_unique`(`uuid`)  
  2019_12_14_000001_create_personal_access_tokens_table ............................................................................................  
  Ôçé create table `personal_access_tokens` (`id` bigint unsigned not null auto_increment primary key, `tokenable_type` varchar(255) not null, `tokenable_id` bigint unsigned not null, `name` varchar(255) not null, `token` varchar(64) not null, `abilities` text null, `last_used_at` timestamp null, `expires_at` timestamp null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `personal_access_tokens` add index `personal_access_tokens_tokenable_type_tokenable_id_index`(`tokenable_type`, `tokenable_id`)  
  Ôçé alter table `personal_access_tokens` add unique `personal_access_tokens_token_unique`(`token`)  
  2024_06_12_162512_add_google_id_to_users .........................................................................................................  
  Ôçé alter table `users` add `google_id` varchar(255) null after `remember_token`  
  Ôçé alter table `users` add unique `users_google_id_unique`(`google_id`)  
  2024_06_13_094616_add_facebook_id_to_users .......................................................................................................  
  Ôçé alter table `users` add `facebook_id` varchar(255) null after `remember_token`  
  Ôçé alter table `users` add unique `users_facebook_id_unique`(`facebook_id`)  
  2024_07_14_175845_create_domains_table ...........................................................................................................  
  Ôçé create table `domains` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `alias` varchar(255) not null, `created_by` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `domains` add constraint `domains_created_by_foreign` foreign key (`created_by`) references `users` (`id`)  
  2024_07_14_175926_create_domain_values_table .....................................................................................................  
  Ôçé create table `domain_values` (`id` bigint unsigned not null auto_increment primary key, `domain_id` bigint unsigned null, `name` varchar(255) not null, `alias` varchar(255) not null, `created_by` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `domain_values` add constraint `domain_values_domain_id_foreign` foreign key (`domain_id`) references `domains` (`id`)  
  Ôçé alter table `domain_values` add constraint `domain_values_created_by_foreign` foreign key (`created_by`) references `users` (`id`)  
  2024_07_15_124224_create_applications_table ......................................................................................................  
  Ôçé create table `applications` (`id` bigint unsigned not null auto_increment primary key, `firstname` varchar(255) not null, `middlename` varchar(255) null, `lastname` varchar(255) not null, `suffix` bigint unsigned null, `birthdate` date not null, `sex` bigint unsigned not null, `has_ssn` tinyint(1) not null, `ssn` varchar(255) null, `has_perm_address` tinyint(1) not null, `notices_mail_or_email` tinyint(1) not null, `send_email` tinyint(1) null, `send_text` tinyint(1) null, `client_id` bigint unsigned null, `agent_id` bigint unsigned null, `created_by` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `applications` add constraint `applications_suffix_foreign` foreign key (`suffix`) references `domain_values` (`id`)  
  Ôçé alter table `applications` add constraint `applications_sex_foreign` foreign key (`sex`) references `domain_values` (`id`)  
  Ôçé alter table `applications` add constraint `applications_client_id_foreign` foreign key (`client_id`) references `users` (`id`)  
  Ôçé alter table `applications` add constraint `applications_agent_id_foreign` foreign key (`agent_id`) references `users` (`id`)  
  Ôçé alter table `applications` add constraint `applications_created_by_foreign` foreign key (`created_by`) references `users` (`id`)  
  2024_07_15_155959_create_addresses_table .........................................................................................................  
  Ôçé create table `addresses` (`id` bigint unsigned not null auto_increment primary key, `street_address` varchar(255) not null, `apte_ste` varchar(255) null, `city` varchar(255) not null, `state` varchar(255) not null, `zipcode` varchar(255) not null, `county` varchar(255) not null, `mailing` tinyint(1) not null, `application_id` bigint unsigned not null, `created_by` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `addresses` add constraint `addresses_application_id_foreign` foreign key (`application_id`) references `applications` (`id`)  
  Ôçé alter table `addresses` add constraint `addresses_created_by_foreign` foreign key (`created_by`) references `users` (`id`)  
  2024_07_15_160047_create_contacts_table ..........................................................................................................  
  Ôçé create table `contacts` (`id` bigint unsigned not null auto_increment primary key, `email` varchar(255) null, `phone` varchar(255) not null, `extension` varchar(255) not null, `type` bigint unsigned not null, `second_phone` varchar(255) null, `second_extension` varchar(255) null, `second_type` bigint unsigned null, `written_lang` bigint unsigned not null, `spoken_lang` bigint unsigned not null, `application_id` bigint unsigned not null, `created_by` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `contacts` add constraint `contacts_type_foreign` foreign key (`type`) references `domain_values` (`id`)  
  Ôçé alter table `contacts` add constraint `contacts_second_type_foreign` foreign key (`second_type`) references `domain_values` (`id`)  
  Ôçé alter table `contacts` add constraint `contacts_written_lang_foreign` foreign key (`written_lang`) references `domain_values` (`id`)  
  Ôçé alter table `contacts` add constraint `contacts_spoken_lang_foreign` foreign key (`spoken_lang`) references `domain_values` (`id`)  
  Ôçé alter table `contacts` add constraint `contacts_application_id_foreign` foreign key (`application_id`) references `applications` (`id`)  
  Ôçé alter table `contacts` add constraint `contacts_created_by_foreign` foreign key (`created_by`) references `users` (`id`)  
  2024_07_15_185332_create_households_table ........................................................................................................  
  Ôçé create table `households` (`id` bigint unsigned not null auto_increment primary key, `applying_coverage` tinyint(1) not null, `eligible_cost_saving` tinyint(1) not null, `married` tinyint(1) not null, `fed_tax_income_return` tinyint(1) not null, `is_dependent` tinyint(1) not null, `jointly_taxed_spouse` tinyint(1) not null, `application_id` bigint unsigned not null, `created_by` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `households` add constraint `households_application_id_foreign` foreign key (`application_id`) references `applications` (`id`)  
  Ôçé alter table `households` add constraint `households_created_by_foreign` foreign key (`created_by`) references `users` (`id`)  
  2024_07_16_133429_create_household_members_table .................................................................................................  
  Ôçé create table `household_members` (`id` bigint unsigned not null auto_increment primary key, `firstname` varchar(255) not null, `middlename` varchar(255) null, `lastname` varchar(255) not null, `suffix` bigint unsigned null, `birthdate` date not null, `sex` bigint unsigned not null, `household_id` bigint unsigned not null, `relationship` bigint unsigned not null, `tax_form` tinyint(1) not null, `lives_with_you` tinyint(1) null, `tax_claimant` tinyint(1) null, `eligible_cost_saving` tinyint(1) null, `created_by` bigint unsigned null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `household_members` add constraint `household_members_suffix_foreign` foreign key (`suffix`) references `domain_values` (`id`)  
  Ôçé alter table `household_members` add constraint `household_members_sex_foreign` foreign key (`sex`) references `domain_values` (`id`)  
  Ôçé alter table `household_members` add constraint `household_members_household_id_foreign` foreign key (`household_id`) references `households` (`id`)  
  Ôçé alter table `household_members` add constraint `household_members_relationship_foreign` foreign key (`relationship`) references `domain_values` (`id`)  
  Ôçé alter table `household_members` add constraint `household_members_created_by_foreign` foreign key (`created_by`) references `users` (`id`)  
  2024_07_24_162322_create_user_profiles_table .....................................................................................................  
  Ôçé create table `user_profiles` (`id` bigint unsigned not null auto_increment primary key, `user_id` bigint unsigned not null, `domain_value_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Ôçé alter table `user_profiles` add constraint `user_profiles_user_id_foreign` foreign key (`user_id`) references `users` (`id`)  
  Ôçé alter table `user_profiles` add constraint `user_profiles_domain_value_id_foreign` foreign key (`domain_value_id`) references `domain_values` (`id`)  
  2024_08_21_125152_alter_user .....................................................................................................................  
  Ôçé alter table `users` add `idm_access_token` varchar(255) null, add `idm_refresh_token` varchar(255) null  

